@model FinnkodeFetcher.Models.SearchResultsDataContract
<div class="jumbotron">
    <h2>FinnkodeFetcher v0.1</h2>
</div>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    function SearchIcd10() {
        $.ajax({
            type: 'get',
            url: '@Url.Action("SearchIcd10", "Home")',
            data: { 'code': '@Model.Code' },
            success: function(data) {
                console.log(data);
            },
            dataType: 'json'
        });

    }

    function onSearchIcd10Callback(json) {

        var tr;
        //Append each row to html table
        for (var i = 0; i < json.length; i++) {
            tr = $('<tr/>');
            //tr.append("<td>" + json[i].Id + "</td>");
            //tr.append("<td>" + json[i].Name + "</td>");
            //tr.append("<td>" + json[i].City + "</td>");
            //tr.append("<td>" + json[i].Address + "</td>");
            $('table').append(tr);
        }

    }

</script>

<div class="row">
    <div class="col-lg-12">

        @using (Ajax.BeginForm("SearchIcd10", new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "searchresults"

        }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <form>
                @Html.LabelFor(model => model.Code)
                @Html.EditorFor(model => model.Code)
                @Html.ValidationMessageFor(model => model.Code)
                <button type="submit" class="btn btn-success">Søk</button>
            </form>
        }
    </div>
    
    @Html.Partial("_SearchResults")


</div>

